.tbl-list-area {
  padding:3.5rem 2rem;
  background: $white;
  border-radius:$radius;

  .listFilterBox {
    background: $gray2;
    margin:2rem 0;
    width: auto;
    .input_box {
      & > *:not(.noFlex) {
        flex:none;
      }
    }
  }
}

.tbl-list-title {
  h3 {
    font-size:$fontSizeXlg;
    font-weight: 700;
  }
  strong {
    margin-top: 1rem;
    display: block;
    font-size:$fontSizeLg;
    font-weight: 700;
    color: $gray4;
    &:before {
      content:'';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../images/common/ico_list_check.svg") no-repeat center;
      vertical-align: middle;
      margin-right:0.4rem;
    }

    span {
      font-weight: 500;
      color:$gray3 ;
    }
  }
}

.tbl-list {
  margin-top: 2rem;

  > li {
    width: fit-content;
    min-width: -webkit-fill-available;
    border-bottom: 1px solid $gray2;

    .accordion_wrap {
      display: flex;
      justify-content: space-between;

      & > button {
        display: flex;
        gap: 0.4rem;
        align-items: center;

        &:after {
          content:'';
          display: inline-block;
          width: 0.8rem;
          height: 1.0rem;
          background: url("../images/common/ico_list_sort_default.svg") no-repeat center;
        }

        &.up {
          &:after {
            background: url("../images/common/ico_list_sort_up.svg") no-repeat center;
          }
        }

        &.down {
            &:after {
                background: url("../images/common/ico_list_sort_down.svg") no-repeat center;
            }

        }

      }

      & > * {
        flex: 0.2;
        text-align: left;
        font-size:$fontSize;
        word-break: break-all;
        padding: 2rem 1rem;

        display: flex;
        align-items: center;

        &.inShowDetail {
          flex:0.02
        }

        .showDetail:not(.btn.sm) {
          display: inline-block;
          width: 100%;
          padding:1rem;
          background:url("../images/common/btn_show_detail.svg") no-repeat center / 0.9rem 1.5rem;
        }
      }

      & > *.width_auto {
        flex: 1;
      }

      & > *.noData {
        flex: 1;
        justify-content: center;
      }

      &.thead > * {
        color: $gray3;
        font-weight: 700;
        padding: 1.5rem 1rem;
      }

      .bar {
        position: relative;
        top:0.5rem;
        width: 80%;
        background: $gray2;
        border-radius: $radiusXsm;
        height: 0.5rem;

        .current {
          position: absolute;
          height: 100%;
          border-radius: $radiusXsm;
          background: $blue0;
        }
        .count {
          position: absolute;
          bottom: 0.6rem;
          color: $blue0;
          font-size:$fontSizeLg;
          font-weight: 700;
        }
      }
    }

    .accordion_content {
      display: none;
      background: $gray1;
      padding:3rem 3rem;
      border-radius: $radius;
      margin: $gap 0;
      width: 100%;
      max-height: 40rem;
      overflow: auto;

      .title {
        font-size:$fontSizeXlg;
      }

      .accordion_wrap > * {
        flex:0.1;

        &.width_auto {
         flex:1;
        }
      }
    }

    .accordion_wrap.on {
      .btn.sm {
        background: $oragne0;
      }

      .showDetail:not(.btn.sm) {
        transform: rotate(90deg);
      }

    }

    .accordion_wrap.on + .accordion_content {
      display: block;
    }

  }
}

.listFilterBox {
  background: $white;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: $radius;
  width: max-content;
  .input_box {
    display: flex;
    gap: $gapSm;
    > *:not(.noFlex) {
      flex:1;
    }
    & + .input_box {
      margin-top: $gapSm;
    }
    select {
      padding-right:4rem;
      background: #fff url("../images/common/ico_select_bg.svg") no-repeat right 1.6rem center / 1rem 2rem;
    }

    .search {
      padding-left:4rem;
      background: #fff url("../images/common/ico_search.svg") no-repeat left 1.6rem center / 1.5rem 1.5rem;
    }
  }
}

.pagination_box {
  display: flex;
  align-items: center;
  gap: $gapXsm;
  justify-content: center;
  margin-top: 2rem;
  .pagination {
    display: flex;
    align-items: center;
    gap: $gapXsm;
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    background: $white;
    border:1px solid #C8C8C8;
    border-radius: $radiusXsm;
    font-size:$fontSizeLg;
    font-weight: 500;
    //font-family: "Plus Jakarta Sans", serif;
    &.on {
      background: $blue0;
      border-color: $blue0;
      color: $white;
    }
  }

  button.first {
    background: url("../images/common/ico_btn_first.svg") no-repeat center;
  }
  button.prev {
    background: url("../images/common/ico_btn_prev.svg") no-repeat center;
  }
  button.next {
    background: url("../images/common/ico_btn_next.svg") no-repeat center;
  }
  button.last {
    background: url("../images/common/ico_btn_last.svg") no-repeat center;
  }

}