$fontFamily: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$white:#ffffff;
$gray1: #F7FAFC; // bg
$gray2: #E2E8F0; // border
$gray3: #A0AEC0; // font
$gray4: #87A0C0; // em
$gray5: #D9D9D9; // 인증 bg
$black:#1A1A1A;
$blackL:#36383B;

$blueL: #C3E2FF;
$blue0: #3182CE;
$blueD: #004DB0;

$green0: #48BB78;

$oragne0: #ED8936;

$btn: #2D3748;

$gapXxsm: 0.4rem;
$gapXsm: 0.8rem;
$gapSm: 1.6rem;
$gap: 2.4rem;
$gapLg: 4rem;
$gapXlg: 8rem;

$radiusXxsm: 0.4rem;
$radiusXsm: 0.8rem;
$radiusSm: 1.6rem;
$radius: 2.4rem;
$radiusLg: 3.2rem;
$radiusXlg: 4rem;

$iconSm: 1.6rem;
$iconM: 2.0rem;
$iconLg: 2.4rem;
$icoXlg: 3rem;

$url-img: '../images/';

$fontSizeSm: 1rem;
$fontSize: 1.2rem;
$fontSizeLg: 1.4rem;
$fontSizeXlg: 1.6rem;
$fontSizeXxlg: 1.8rem;
$fontSizeXxxlg: 2.4rem;