table {
    width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
    table-layout: fixed;
	text-align: center;
	word-break: keep-all;
    caption {
        @include hideElement;
    }
}
.scrollX {
	overflow-x: auto;
	table {
		width: 100%;
	}
}
.scrollY {
	position: relative;
	overflow: auto;
	.list-type {
		height: auto;
		table {
			border-top: none;
		}
	}

	thead {
		position: sticky;
		top: -0.1rem;
		left: 0;
		z-index: 1;
		background-color: $white;
	}
}

.listType{
	position:relative;
    @include type('Table');
	th {
		color: $gray3;
    }
    th,
	td {
		border-bottom: .1rem solid $gray2;		
        padding: $gapSm $gapXsm;
	}
}