/* tabs: tabsNav */
.tabsNavLg,
.tabsNav,
.tabsNavSm {
    display: flex;
    a {
        display: flex;
		align-items: center;
		justify-content: center;
        text-align: center;
        text-decoration: none;
    }
}

.tabsNav,
.tabsNavSm {
    gap: 2rem;
    margin-bottom: $gap;
    li {
        flex: 1;
        min-width: 0;
        width: calc(100% / 4);
        background-color: rgba($white, 0.3);
        backdrop-filter: blur(.2rem);
        border-radius: $radiusSm;
        position: relative;
    }
}

.tabsNav {
    li {
        padding: $gapSm $gap;
        @include type('TabM');

        > div {
            display: flex;
            flex-direction: column;
            gap: $gapSm;
            position: relative;
            
            .tabTit {
                p {
                    @include type('TabL');
                }
            }

            .fncArea {
                margin-bottom: 0;
                em {
                    font-size: $fontSizeXxlg;
                }

                .checkRadio {
                    z-index: 1;
                    position: relative;
                }
            }
        }

        &.isCurrent {
            background-color: $white;
            color: $gray3;
            > div {
                .tabTit {
                    &::after {
                        background-color: $blue0;
                    }
                    @each $cls, $icon in $tabIcons {
                        &.#{$cls} {
                            &::after {
                                background-image: url(pathIcon(map-get($tabIcons,#{$cls}), $white, $iconLg));
                            }
                        }
                    }
                }
            }
        }

        &:not(.isCurrent) {
            > div {
                .fncArea {
                    .checkRadio {
                        z-index: 0;
                        input[type=radio]+label,
                        label.radio input+span,
                        input[type=checkbox]+label,
                        label.checkbox input+span {
                            &::before {
                                border-color: $gray2;
                            }
                            &::after {
                                background-color: $gray2;
                            }
                        }

                        input[type=radio]:checked+label,
                        label.radio input:checked+span {
                            &::after {
                                background-color: $gray3;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tabsNavSm {
    li {
        padding: $gap;
        > div {
            text-align: center;
            > p {
                @include type('TabL');
            }
            > span {
                display: block;
                padding-top: $gap;
                margin-top: $gap;
                font-size: $fontSizeXlg;
                font-weight: 500;
                color: $blueD;
                border-top: 1px solid transparent;
                border-image: linear-gradient(to right, rgba($white, 0) 0%, $white 50%, rgba($white, 0) 100%);
                border-image-slice: 1;
            }
        }

        &.isCurrent {
            background-color: $white;
            > div {
                > p {
                    color: $blue0;
                }
                > span {
                    color: $black;
                    border-image: linear-gradient(to right, rgba($blue0, 0) 0%, $blue0 50%, rgba($blue0, 0) 100%);
                    border-image-slice: 1;
                }
            }
        }
    }
}