/* tabs: tabsNav */
.tabsNavLg,
.tabsNav,
.tabsNavSm {
    display: flex;
    a {
        display: flex;
		align-items: center;
		justify-content: center;
        text-align: center;
        text-decoration: none;
    }
}